<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/public/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    title App preview
  body
    .container
      .smartphone
        .receiver
        .screen
          .header
            i.material-icons menu
            p Búsqueda
          .map#map
        .home-button
    script(src="/public/js/map.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtu6gnoC2bYiddfuw9q2lf9wz0fa-k8CM&callback=initMap")